---
import AppNavBar from "../_app/_AppNavBar.astro";
import AppPage from "../_app/_AppPage.astro";
import AppPageBody from "../_app/_AppPageBody.astro";
---

<AppPage>
  <AppNavBar />
  <AppPageBody>
    <h1>Play Page</h1>
  </AppPageBody>
</AppPage>
