---
import { hobbies } from "./hobby/_hobbies";
import AppHeaderCommon from "../_app/_AppHeaderCommon.astro";
import AppLink from "../_app/_AppLink.astro";
import AppPage from "../_app/_AppPage.astro";
import AppPageBody from "../_app/_AppPageBody.astro";
import Card from "../../lib/ui/Card.astro";
---

<AppPage>
    <AppHeaderCommon />
    <AppPageBody class="mx-4 mt-12">
        <div class="space-y-6">
            {
                hobbies.map((hobby) => (
                    <AppLink href={hobby.href} class="block">
                        <Card>
                            <h2 class="text-xl font-semibold text-gray-800">
                                {hobby.name}
                            </h2>
                        </Card>
                    </AppLink>
                ))
            }
        </div>
    </AppPageBody>
</AppPage>
