---
import AppHeaderCommon from "../../_app/_AppHeaderCommon.astro";
import AppPage from "../../_app/_AppPage.astro";
import AppPageBody from "../../_app/_AppPageBody.astro";
---

<AppPage>
    <AppHeaderCommon />
    <AppPageBody>
        <section class="p-6 bg-gray-100 rounded-2xl shadow-md">
            <h2 class="text-2xl font-bold mb-4">Disc Golf</h2>
            <p>
                This sport was invisible to me for many years. I knew that disc
                golf courses existed, but before I was introduced to disc golf
                when I was working at MasterControl I had no idea the quality
                and quantity of disc golf courses within driving distance.
            </p>
            <p>
                The first course I ever played was Creekside in Holliday. I was
                immediately hooked.
            </p>
            <hr />
            <p>I was immediately hooked.</p>
            <hr />
            <p>
                That day, I looked up local courses and found a lot to pick
                from, so I chose Art Dye in American Fork to visit first. I
                drove my long commute from Cottonwood Heights back down to Utah
                County, stopped by Art Dye Park and went to find the disc golf
                course. Like magic, there it was. A huge course with 18 holes
                with chain catchers and everything.
            </p>
            <p>
                I was so excited about it, I called up my parents and told them
                I found them a new sport.
            </p>
        </section>
    </AppPageBody>
</AppPage>
