---
import Card from "../../../lib/ui/Card.astro";
import type { FamilyMember } from "../_type/familyMember/FamilyMember";

interface Props {
  familyMember: FamilyMember;
}

const {
  familyMember: { firstName, middleName, lastName, dateOfBirth },
}: Props = Astro.props;
---

<Card as="li">
  <h2>{firstName} {middleName} {lastName}</h2>
  <p>Birthday: {dateOfBirth}</p>
</Card>
