---
import { makeSherpa } from "../_sherpa";

const sherpa = makeSherpa();
---

<a href={sherpa.home({})}>
  <h1></h1>
  <div class="flex-shrink-0">
    <img src="/logo.svg" alt="Andrew Hol(z)brook Logo" class="h-10" />
  </div>
</a>
