---
import { makeSherpa } from "../_sherpa";

const sherpa = makeSherpa();
---

<a href={sherpa.home({})}>
  <img
    src="./logo-placeholder.jpg"
    alt="Andrew Hol(z)brook | Placeholder Logo"
  />
</a>
