---
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Andrew Hol(z)brook</title>
  </head>

  <body class="bg-white w-1/1 h-1/1 m-0">
    <slot />
  </body>
</html>
