---
import { makeSherpa } from "../_sherpa";

const sherpa = makeSherpa();
---

<a href={sherpa.home({})}>
  <img
    src="https://picsum.photos/id/404/200/80"
    alt="Andrew Hol(z)brook | Placeholder Logo"
  />
</a>
