<main>
  <section id="hero">
    <h1>Andrew Hol(z)brook</h1>
  </section>
</main>

<style>
  main {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    display: flex;
    justify-content: center;
  }
</style>
