---
import AppPage from "./_app/_AppPage.astro";
import AppNavBar from "./_app/_AppNavBar.astro";
import HolzbrookLogo from "../lib/HolzbrookLogo.astro";
---

<AppPage>
  <HolzbrookLogo />
  <AppNavBar />
  <h1 class="text-gray-500">Home Page</h1>
</AppPage>
