---
const goals =
    "I aim to deepen my skills in backend architecture and distributed systems, while continuing to build scalable, high-performance web apps. I also plan to mentor junior developers and contribute to open-source projects.";
---

<section class="mb-4">
    <h3 class="text-2xl font-semibold mb-4">Goals</h3>
    <p>{goals}</p>
</section>
