---
const name = "Andrew Holbrook";
const title = "Software Engineer";
---

<header class="text-center mb-12">
    <h1 class="text-3xl font-bold">{name}</h1>
    <h2 class="text-xl text-gray-600">{title}</h2>
</header>
