---
import CommonPage from "../../lib/CommonPage.astro";
import NavBar from "../../lib/NavBar.astro";
import HolzbrookLogo from "../../lib/HolzbrookLogo.astro";
---

<CommonPage>
  <HolzbrookLogo />
  <NavBar />
  <h1>Work Page</h1>
</CommonPage>
