---
import AppPage from "../_AppPage.astro";
import HolzbrookLogo from "../../lib/HolzbrookLogo.astro";
import NavBar from "../../lib/NavBar.astro";
---

<AppPage>
  <HolzbrookLogo />
  <NavBar />
  <h1>Work Page</h1>
</AppPage>
