---
import AppHeaderCommon from "../../_app/_AppHeaderCommon.astro";
import AppPage from "../../_app/_AppPage.astro";
import AppPageBody from "../../_app/_AppPageBody.astro";
---

<AppPage>
    <AppHeaderCommon />
    <AppPageBody>
        <section class="p-6 bg-gray-100 rounded-2xl shadow-md">
            <h2 class="text-2xl font-bold mb-4">Board Games</h2>
            <p>
                I've always loved gaming of any kind. Board games take a special
                place in my life though.
            </p>
            <br />
            <p>
                The variety of gameplay, the tactile feel, the shared triumph.
            </p>
            <br />
            <p>
                Some of the games we've ejoyed playing are Gloomhaven, Mansions
                of Madness, Decrypted, Marvel Champions LCG, Arkham Horror LCG,
                Moon, Vast, Root, and more.
            </p>
        </section>
    </AppPageBody>
</AppPage>
