---
import HolzbrookLogo from "../home/HolzbrookLogo.astro";
import NavBar from "../navigation/NavBar.astro";
import CommonPage from "../_page/CommonPage.astro";
---

<CommonPage>
  <HolzbrookLogo />
  <NavBar />
  <h1>Home Page</h1>
</CommonPage>
