---
import { Albums } from "./_data/_Albums";
import { Comments } from "./_data/_Comments";
import { Photos } from "./_data/_Photos";
import { Posts } from "./_data/_Posts";
import { Todos } from "./_data/_Todos";
import { Users } from "./_data/_Users";
---

<div>
  <Posts />
  <Comments />
  <Albums />
  <Photos />
  <Todos />
  <Users />
</div>
