---
import { makeSherpa } from "../navigation/sherpa";

const sherpa = makeSherpa();
---

<a href={sherpa.home({})}>Home</a>
<a href={sherpa.work({})}>Work</a>
<a href={sherpa.family({})}>Family</a>
<a href={sherpa.play({})}>Play</a>
<a href={sherpa.test({})}>Test</a>
