---
const response = await fetch("https://randomuser.me/api/");
const data = await response.json();
const randomUser: {
  name: {
    first: String;
    last: String;
  };
  location: {
    city: String;
  };
} = data.results[0];
---

<h1>Test (Random User)</h1>
<p>This is loading a piece of data at _build_ time.</p>
<h2>First Name</h2>
<h3>{randomUser.name.first}</h3>
<h2>Last Name</h2>
<h3>{randomUser.name.last}</h3>
<h2>City</h2>
<h3>{randomUser.location.city}</h3>
